
.icon-antiage:before { content: '\e800'; } /* '' */
.icon-femenina:before { content: '\e801'; } /* '' */
.icon-estres:before { content: '\e802'; } /* '' */
.icon-homepatia:before { content: '\e803'; } /* '' */
.icon-megadosis:before { content: '\e804'; } /* '' */
.icon-bajar_peso:before { content: '\e805'; } /* '' */
.icon-cardiovascular:before { content: '\e806'; } /* '' */
.icon-digestiva:before { content: '\e807'; } /* '' */
.icon-integral:before { content: '\e808'; } /* '' */
.icon-osteoarticular:before { content: '\e809'; } /* '' */
.icon-respitatoria:before { content: '\e80a'; } /* '' */
.icon-deportiva:before { content: '\e80b'; } /* '' */
.icon-infantil:before { content: '\e80c'; } /* '' */
.icon-vitaminas:before { content: '\e80d'; } /* '' */
.icon-alive:before { content: '\e80e'; } /* '' */