@import url('https://fonts.googleapis.com/css?family=Dosis');

p.nav-link{
	margin-bottom: 0px; 
}
.supertop{
	padding-top: 90px;
	min-height: 100vh;
}
.master1a{
	padding: 15px; 
}
.labelIzquierda{
	text-align: left;
}
.imglogin{
	max-width: 400px;
}

body{
	font-family: "Titillium Web", sans-serif;
	/*background: #f6f6f6;*/
	background: linear-gradient(to right, #f6f6f6, white);

}
.gradient {
	background: linear-gradient(to right, #f6f6f6, white);
}

h1,h2,h3,h4,h5,h6{
	font-family: "Dosis", sans-serif;
}



h4 {
	color: gray;
	font-size: 90%;
}
section{
	margin:0;
	padding:0;
}

pre {
	color: #404040;
	font-size: 100%;
}

.showproducto {
	width: 100%;
}
.buscadorInicial{
	padding-top: 90px;
	min-height: 25vh;
}
.mayorInformacion{
	width: 100%;

}
table{
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table td, table th {
	vertical-align: middle;
	font-weight: normal;
	padding: 9px 10px;
}

h3.page-product-heading {
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	padding: 14px 20px 17px;
	margin: auto;
	position: relative;
	background: #3d44ac;
	width: 100%;
}
#componentex, #myTable{
	margin: 0 auto;
	
}

#componentex tr td {
	border-collapse: collapse;
	border: 1px solid #3d44ac;
}
#componentex-1 {
	background-color: #3d44ac;
	color: #fff;
	text-transform: uppercase;
}

h6 {
	background-color: #80ff80;
	padding: 10px 0px 10px 0px;
	border-radius: 15px;
}
.table-data-sheet tr td {
	padding: 10px 20px 11px;
}

.table-data-sheet tr td:first-child{
	border-right: 1px solid #d6d4d4;
}
.table-data-sheet tr {
	border-top: 1px solid #d6d4d4;
}

.table-data-sheet{
	width: 100%;
	margin: 0 0 20px;
	background: transparent;
	margin: auto;

}
.divpaginacompleta{
	width: 90%;
	margin: 0 auto;
}

.footes{
	background-color: #30309A;
	color:#fff;
}

.modal-lg {
    max-width: 90%;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    width: 100%;
    font-weight: 700;
}

.close {
    font-size: 2.5rem;
}
.bg-nv{
	background-color: #30309A;
}
.btn-nv{
		background-color: #30309A;
		border-color: #30309A;
		color: #fff;
}

.btn-nv:hover{
	color: #fff;
	border-color: #5151c8;
	background-color: #5151c8;
}

.btn-nv1 {
    color: #fff;
    background-color:#F28E00;
    border-color:#F28E00;
}
.btn-nv1:hover {
    color: #fff;
    background-color:#FF6C2C;
    border-color:#FF6C2C;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,108,44,.9);
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,108,44,.7);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,108,44,.5);
}

.ui-state-active{
	background: #30309A;
}

tagdes {
	font-size: 130%;
}

tagred{
	color: red;
	font-size: 90%;
}

